body{
  background-color: #E4F9F5;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;

}

#top_h1{
  margin-top: 0px;
  font-family: 'Sacramento', cursive;
}

h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  margin: 0px;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 60px;
}



.bottom_cloud{
  position:absolute;
  left: 300px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 10px;
}
