body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

h1{
  font-size: 6.25em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color:#66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
}

a{
  color:#11999e;
  padding: 0px 0px 30px 0px;
}

hr{
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
  border-color: grey;
}

.top_container{
  margin: 0px;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 60px;
}

.middle_container{
  background-color: white;

}

.bottom_container{
  margin-top: 100px;
  height: 100px;
  background-color: #66BFBF;
  padding-top:50px;
}

#copyr{
  margin: 0px;
  padding-top: 50px;
  color: #EAF6F6;
}

.skill_row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom_cloud{
  position:absolute;
  left: 300px;
}

.top_cloud{
  position: absolute;
  right: 300px;
  top: 10px;
}

.computer_image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ux_image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.btn_container{
  margin-top: 80px;
}
